{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="form-container">
    <h1 class="form-heading">Bienvenue sur mon premier projet Flask</h1>
    <form action="/envoi-infos" method="POST" class="user-form">
        <div class="form-group">
            <label for="prenom">Votre prénom</label>
            <input type="text" name="prénom" id="prenom" required>
        </div>
        <div class="form-group">
            <label for="nom">Votre nom</label>
            <input type="text" name="nom" id="nom" required>
        </div>
        <div class="form-group">
            <label for="sexe">Votre sexe</label>
            <input type="text" name="sexe" id="sexe" required>
        </div>
        <div class="form-group">
            <label for="pseudo">Votre pseudo</label>
            <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <button type="submit" class="submit-btn">OK</button>
    </form>
</div>

<div class="bilingual-container">
    <div class="bilingual-card">
        <div class="bilingual-text">
            <p class="text-large"><strong>Projet Flask</strong></p>
            <p class="text-large"><strong>Flask Project</strong></p>
        </div>
        <div class="bilingual-text">
            <p>Utilisation de Flask pour créer une application.</p>
            <p>Using Flask to create an application.</p>
        </div>
        <div class="bilingual-text">
            <p>Accueil avec un formulaire</p>
            <p>Home page with a form</p>
        </div>
        <div class="bilingual-text">
            <p>The James Mind avec des images</p>
            <p>The James Mind with images</p>
        </div>
        <div class="bilingual-text">
            <p>Utilisateurs inscrits avec un tableau regroupant les utilisateurs</p>
            <p>Registered Users with a table grouping users</p>
        </div>
        <div class="bilingual-text">
            <p>Formulaire de news avec l'API DEVAPI sur les news de grandes entreprises</p>
            <p>News form with the DEVAPI API on news from large companies</p>
        </div>
        <div class="bilingual-text">
            <p>Statistiques avec l'importation de fichier CSV et XLSX, création d'un tableau .describe()</p>
            <p>Statistics with CSV and XLSX file import, creation of a .describe() table</p>
        </div>
        <div class="bilingual-text">
            <p>Graphiques avec deux plotly sur le prix des actions 2023 de Tesla et Apple</p>
            <p>Charts with two plotly on the 2023 stock prices of Tesla and Apple</p>
        </div>
        <div class="bilingual-text">
            <p>Prédiction MNIST avec la prédiction des chiffres et la possibilité de dessiner un chiffre</p>
            <p>MNIST Prediction with number prediction and ability to draw a number</p>
        </div>
    </div>
</div>

{% endblock %}
