{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1 class="hello"> {{ message_home }}</h1>

    <h2>Veuillez remplir le formulaire</h2>
    <form action="/envoi-infos" method="POST">
        <p>Votre prénom</p>
        <input type="text" name="prénom">
        <p>Votre nom</p>
        <input type="text" name="nom">
        <p>Votre sexe (F/ M)</p>
        <input type="text" name="sexe">
        <p>Votre pseudo</p>
        <input type="text" name="pseudo"><br><br>
        <button type="submit">OK</button>
    </form>
{% endblock %}
