{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

     <div class="project">
         <h3>THE JAMES MIND EYE</h3>
         <a href=https://www.instagram.com/p/CsDtciSqhQi/?img_index=1><img src="../static/images/jms/the-james-mind-eye-see-you.jpg" alt="THE JAMES MIND LOGO"></a>
     </div>
        <div class="project">
            <h3>DOUCEUR MINIMALISTE</h3>
            <a href=https://www.instagram.com/p/CsDtciSqhQi/?img_index=1><img src="../static/images/jms/the-james-mind-harry-potter.jpg" alt="THE JAMES MIND LOGO"></a>
        </div>
        <div class="project">
            <h3>HELP</h3>
            <a href=https://www.instagram.com/p/CegInU0qBwS/?img_index=1><img src="../static/images/jms/the-james-mind-help.jpg" alt="THE JAMES MIND LOGO"></a>
        </div>
        <div class="project">
            <h3>HUMAN EXTINCTION X IRON NAILS</h3>
            <a href=https://www.instagram.com/p/CwxNtzaqujB/><img src="../static/images/jms/the-james-mind-human-extinction-spike.jpg" alt="THE JAMES MIND LOGO"></a>
        </div>
        <div class="project">
            <h3>IN INK WE TRUST</h3>
            <a href=https://www.instagram.com/p/CcVBeVvswyH/?img_index=1><img src="../static/images/jms/the-james-mind-in-ink-we-trust.jpg" alt="THE JAMES MIND LOGO"></a>
        </div>
        <div class="project">
            <h3>YES NO PEOPLE</h3>
            <a href=https://www.instagram.com/p/Cuj1wEHqkRt/?img_index=1><img src="../static/images/jms/the-james-mind-smiley-not-smiley.jpg" alt="THE JAMES MIND LOGO"></a>
        </div>

{% endblock %}




