{% extends 'layout.html' %}

{% block title %}Chargement de Fichier{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-heading">Charger un fichier CSV ou Excel</h1>
    <form action="upload" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="form-group">
            <label for="file">Choisir un fichier :</label>
            <input type="file" id="file" name="file" accept=".csv, .xlsx">
        </div>
        <button type="submit" class="submit-btn">Charger</button>
    </form>
</div>
{% endblock %}
