{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <h1>Liste des utilisateurs inscrits</h1>
    <table>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.sexe }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}




