h1 {
    color: red;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background: #ffffff;
    color: #000;
    text-align: center;
}

nav {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: x-large;
}

nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

section {
    margin: 20px 15%;
    text-align: center;
    font-weight: bold;
}

footer {
    background: #000000;
    text-align: center;
    color: white;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: normal;
    font-style: normal;
}


/* ... tableaux onglets texte profil ... */


.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    width: 40%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.flex-item img {
    max-width: 80%;
    height: auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
.tab button {
    background-color: inherit;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
.tab button:hover {
    background-color: #ddd;
    color: black;
  }

.tab button.active {
  background-color: red;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  width: 50%; 
}

.tablinks {
    font-weight: bold;
  }

#defaultOpen {
    background-color: red;
    color: white;
  }


/* ... projets ... */


.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project {
    background: black;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}


img {
    width: 400px;
}

h3 {
    text-align: center; /* Centre le titre h3 */
}

.imgentite {
    display: block; /* Permet au bloc image d'être centré */
    margin: auto; /* Centre l'image horizontalement */
    height: 800px; /* Garde le ratio de l'image */
    width: 800px;
}



/* ... formulaire de contact ... */


  #contact-form {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}


/* ... responsive ... */


/* Media query pour les écrans de taille moyenne, comme les tablettes */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-item {
        width: 100%; /* Les flex-items prennent toute la largeur disponible */
        margin-bottom: 20px; /* Ajoute un espace entre les éléments lorsqu'ils sont empilés */
    }
}

/* Media query pour les petits écrans, comme les téléphones mobiles */
@media (max-width: 480px) {
    nav a {
        font-size: medium; /* Réduit la taille de la police pour les liens de navigation */
    }

    .project-container {
        grid-template-columns: 1fr; /* Les projets s'affichent en une seule colonne */
    }

    .flex-item img {
        max-width: 100%; /* Assure que les images ne sont pas trop larges */
    }
}

/* Media query pour les écrans de taille moyenne, comme les tablettes */
@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr; /* Les projets s'affichent en une seule colonne */
    }

    .project {
        margin-bottom: 20px; /* Ajoute un espace entre les projets lorsqu'ils sont empilés */
    }
}

/* Media query pour les petits écrans, comme les téléphones mobiles */
@media (max-width: 480px) {
    .project {
        font-size: smaller; /* Réduit la taille de la police pour les projets */
    }
}


/* ... social ... */


.social-icons {
    text-align: center;
    padding: 20px;
}

.social-icons a {
    color: black; /* Couleur des icônes */
    margin: 0 10px; /* Espacement autour des icônes */
    font-size: 24px; /* Taille des icônes */
}

.social-icons a:hover {
    color: red; /* Couleur au survol */
}


#dynamicButton {
    background-color: #4CAF50; /* Couleur de fond initiale */
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour l'animation de la couleur */
}


/* ... boutons ... */


.button-container {
    text-align: center;
    padding: 20px;
}

.dynamicButton {
    background-color: black; /* Couleur de fond initiale */
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Espace entre les boutons */
    transition: background-color 0.3s, color 0.3s; /* Transition pour l'animation */
    display: inline-block; /* Pour permettre le padding et d'autres propriétés de bloc */
    text-decoration: none; /* Enlève le soulignement par défaut des liens */
}

.dynamicButton:hover {
    background-color: red; /* Couleur de fond lors du survol */
    color: black; /* Couleur du texte lors du survol */
}


/* ... light mode ... */


/* Styles par défaut (Dark Mode) */
body {
    background-color: black;
    color: white;
}

/* Styles pour Light Mode */
.light-mode {
    background-color: white;
    color: black;
}

body:not(.light-mode) .social-icons a,
body:not(.light-mode) h2 {
    color: red; /* Texte rouge pour les icônes de réseaux sociaux et les titres h2 en mode sombre */
}

/* Styles pour le bouton avec l'animation */
#toggleMode {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour le background et le texte */
}

/* Style pour l'icône dans le bouton */
#toggleMode i {
    margin-right: 8px;
    transition: transform 0.3s ease; /* Transition pour l'animation de rotation */
}

/* Animation de rotation de l'icône lors du survol du bouton */
#toggleMode:hover i {
    transform: rotate(180deg);
}

.light-mode #toggleMode {
    background-color: white;
    color: #333;
    /* Change l'icône en lune pour le mode clair */
}

.light-mode #toggleMode i:before {
    content: "\f186"; /* Code Unicode pour l'icône 'lune' de Font Awesome */
}
